img {
    margin: 0 auto;
}

body {
    background-color: aquamarine;

}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#riwayat {
    background-color: burlywood;
}

#latar {
    background-color: bisque;
}

#kemampuan {
    background-color: blue;
    color: white;
}

#skill {
    background-color: brown;
    color: floralwhite;
}

#kontak {
    background-color: burlywood;
}